<menu id="main-menu">
	<div class="container">
		<nav  class="sixteen columns row">
			<ul demo-nav-tabs>
				<li class="three columns "><a href="/app/blog/post-2">Blog</a></li>
				<li class="three columns"><a href="/app/blog/post-3">About</a></li>
				<li class="four columns logo">
					<a href="/app" >
						<img src="/images/logo.png"  alt="myLogo" />
					</a>
				</li>
				<li class="three columns"><a href="/app/blog/post-4">Cast</a></li>
				<li class="three columns "><a href="/app/blog/post-5">Support</a></li>
			</ul>
		</nav>
	</div>
</menu>